<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/nav') %>

  <% if (blogs) {  %>
    <% for(let i = 0; i < blogs.length; i++) { %>
      <%= blogs[i].title %><br>
    <% } %>
  <% } else { %>
      <h1>You don't have any blogs, make your first one to get started</h1>
  <% } %>

  <h2>Create new blog</h2>
  <form hx-post="/blogs/api/create" hx-target="#form-result" hx-swap="outerHTML">
    <label for="title">Blog Title</label>
    <input name="title" id="title" type="title" hx-post="/blogs/api/validate/title" hx-target="#title-error" hx-swap="innerHTML"/>
    <div id="title-error" class="error"></div>
    <button>Submit</button>
  </form>
  <div id="form-result"></div>
</body>

</html>
