<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/nav') %>
  <h1>This is the login page for PINKVOMIT</h1>

  <form hx-post="/auth/api/login" hx-target="#login-result" hx-swap="outerHTML">
    <label for="email">Email: </label><br>
    <input type="text" name="email" id="email"><br>
      
    <label for="password">Password: </label><br>
    <input type="password" name="password" id="password"><br>

    <p id="toggle-hide">show password</p>
    <button>Submit</button>
  </form>

  <div id="login-result"></div>

  <p>Don't have an account? <a href="/auth/signup">click here</a></p>
  <script src="/js/login.js">
  </script>
</body>

</html>
