<ul id="nav">
<li><a href="/">Home</a></li>
<li><a href="/auth/login">Login</a></li>
<% if (authed) {%>
  <li><a href="/blogs/manage">Manage blogs</a></li>

  <li>
  <% if (blogs.length === 0) { %>
    <a href="/blogs/manage">Create your first blog!</a>
  <% } else {%>
    <select name="blog" id="blog-select" hx-post="/blogs/api/select"/> <!--Used to set current blog-->
    <% for(let i = 0; i < blogs.length; i++) { %>
      <option value="<%= blogs[i].id %>"><%= blogs[i].title %></option>
    <% } %>
    </select>
  <% } %>
  </li>
<% } %>
</ul>
