#container {
  display: grid;
  grid-template-areas: "input preview";
  grid-template-columns: repeat(2, 50vw);
  gap: 10px;
  padding: 10px;
  place-items: center;
}

#input {
  grid-area: input;
  width: 100%
}

#input textarea {
  width: 45vw;
  height: 50vh;
}

#preview-result {
  grid-area: preview;
  max-width: 45vw;
  width: 45vw;
}
