/* This is the site wide css file that adds basic styling that applies everywhere
 * page specific styling should be done in a seperate file that shares a name with the page (e.g. about.html should have an about.css)*/

/* the following is a css reset which sets some styles for sanity */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#toggle-hide {
  font-size: 0.8rem;
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 1rem;
}

.error {
  padding: 0.5rem;
  color: red;
}

#nav {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  gap: 1rem;
}

.markdown {
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.markdown ol {
  list-style: number;
}

.markdown ul {
  list-style-type: cirlce;
  list-style-position: inside;
}

.feather {
  position: relative;
}

.clickable {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center-col {
  display: flex;
  flex-direction: column;
  align-items: center;

}
