<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/createPost.css" />
</head>

<body>
  <%- include('../partials/nav') %>
    <h1>Create Post</h1>

    <div id="container">
      <form id="input" hx-post="/posts/api/create" hx-target="#create-result" hx-swap="outerHTML">
        <label for="content">Content: </label><br>
        <textarea id="content" name="content" maxlength="8192" hx-post="/posts/api/preview" hx-trigger="input"
          hx-target="#preview-result" hx-swap="outerHTML"></textarea>
        <div id="create-result"></div>
        <button>Create</button>
      </form>

      <div id="preview-result" class="markdown"></div>

    </div>
    <%- include('../partials/footer') %>
</body>

</html>
